<div class="col-md-12">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Novo Plano de Ensino</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body" style="overflow: auto; max-height: 650px; overflow-x: hidden;">

        <div [ngClass]="getFormGroupClass(disciplina.invalid,disciplina.dirty)">
          <label for="inputDisciplina" class="col-sm-2 control-label">Disciplina</label>
          <div class="col-sm-10">
            <select [(ngModel)]="planoDeEnsino.disciplina" name="disciplina" id="inputDisciplina" class="form-control"
              #disciplina="ngModel" (change)="changeField()">
              <option *ngFor="let li of listDisciplina" [ngValue]="li.nome">{{li.nome}}</option>
            </select>
            <span class="help-block" *ngIf="disciplina.invalid && disciplina.dirty">Disciplina é obrigatório</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(turno.invalid,turno.dirty)">
          <label for="inputTurno" class="col-sm-2 control-label">Turno</label>
          <div class="col-sm-10">
            <select [(ngModel)]="planoDeEnsino.turno" name="turno" class="form-control" id="inputTurno" #turno="ngModel"
              required>
              <option value="Matutino">Matutino</option>
              <option value="Vespertino">Vespertino</option>
              <option value="Noturno">Noturno</option>
            </select>
            <span class="help-block" *ngIf="turno.invalid && turno.dirty">Turno é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(chteorica.invalid,chteorica.dirty)">
          <label for="inputChTeorica" class="col-sm-2 control-label">Carga Horaria Teorica</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.chteorica" name="chteorica" class="form-control" id="inputChTeorica"
              #chteorica="ngModel" required [disabled]="planoDeEnsino.chteorica != null">
            <span class="help-block" *ngIf="chteorica.invalid && chteorica.dirty">Carga Horaria Teorica é
              obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(chpratica.invalid,chpratica.dirty)">
          <label for="inputChPratica" class="col-sm-2 control-label">Carga Horaria Pratica</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.chpratica" name="chpratica" class="form-control" id="inputChPratica"
              #chpratica="ngModel" required [disabled]="planoDeEnsino.chpratica != null">
            <span class="help-block" *ngIf="chpratica.invalid && chpratica.dirty">Carga Horaria Pratica é
              obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(chtotal.invalid,chtotal.dirty)">
          <label for="inputChTotal" class="col-sm-2 control-label">Carga Horaria Total</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.chtotal" name="chtotal" class="form-control" id="inputChTotal"
              #chtotal="ngModel" required [disabled]="planoDeEnsino.chtotal != null">
            <span class="help-block" *ngIf="chtotal.invalid && chtotal.dirty">Carga Horaria Total é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(periodo.invalid,periodo.dirty)">
          <label for="inputPeriodo" class="col-sm-2 control-label">Periodo</label>
          <div class="col-sm-10">
            <select [(ngModel)]="planoDeEnsino.periodo" name="periodo" class="form-control" id="inputPeriodo"
              #periodo="ngModel" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <span class="help-block" *ngIf="periodo.invalid && periodo.dirty">Periodo é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(ano.invalid,ano.dirty)">
          <label for="inputAno" class="col-sm-2 control-label">Ano</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.ano" name="ano" class="form-control" id="inputAno" #ano="ngModel"
              required>
            <span class="help-block" *ngIf="ano.invalid && ano.dirty">Ano é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(semestre.invalid,semestre.dirty)">
          <label for="inputSemestre" class="col-sm-2 control-label">Semestre</label>
          <div class="col-sm-10">
            <select [(ngModel)]="planoDeEnsino.semestre" name="semestre" class="form-control" id="inputSemestre"
              #semestre="ngModel" required>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
            <span class="help-block" *ngIf="semestre.invalid && semestre.dirty">Semestre é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(ementa.invalid,ementa.dirty)">
          <label for="inputEmenta" class="col-sm-2 control-label">Ementa</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.ementa" rows="3" name="ementa" class="form-control" id="inputEmenta"
              #ementa="ngModel" required [disabled]="planoDeEnsino.ementa != null">
              <span class="help-block" *ngIf="ementa.invalid && ementa.dirty">Ementa é obrigatória</span>
            </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(objetivoGeral.invalid,objetivoGeral.dirty)">
          <label for="inputObjetivoGeral" class="col-sm-2 control-label">Objetivo Geral</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.objetivoGeral" rows="5" name="objetivoGeral" class="form-control"
              id="inputObjetivoGeral" #objetivoGeral="ngModel" required [disabled]="planoDeEnsino.objetivoGeral != null">
            <span class="help-block" *ngIf="objetivoGeral.invalid && objetivoGeral.dirty">Objetivo é obrigatória</span>
          </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(objetivoEspecifico.invalid,objetivoEspecifico.dirty)">
          <label for="inputObjetivoEspecifico" class="col-sm-2 control-label">Objetivo Especifico</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.objetivoEspecifico" rows="5" name="objetivoEspecifico"
              class="form-control" id="inputObjetivoEspecifico" #objetivoEspecifico="ngModel" required [disabled]="planoDeEnsino.objetivoEspecifico != null">
            <span class="help-block" *ngIf="objetivoEspecifico.invalid && objetivoEspecifico.dirty">Objetivo é obrigatória</span>
          </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(habilidadeCompetencias.invalid,habilidadeCompetencias.dirty)">
          <label for="inputHabilidadeCompetencias" class="col-sm-2 control-label">Habilidade e Competencias</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.habilidadeCompetencias" rows="5" name="habilidadeCompetencias"
              class="form-control" id="inputHabilidadeCompetencias" #habilidadeCompetencias="ngModel" required [disabled]="planoDeEnsino.habilidadeCompetencias != null">
            <span class="help-block" *ngIf="habilidadeCompetencias.invalid && habilidadeCompetencias.dirty">Habilidade e Competencias é obrigatória</span>
            </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(conteudoProgramatico.invalid,conteudoProgramatico.dirty)">
          <label for="inputConteudoProgramatico" class="col-sm-2 control-label">Conteudo Programatico</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.conteudoProgramatico" rows="5" name="conteudoProgramatico"
              class="form-control" id="inputConteudoProgramatico" #conteudoProgramatico="ngModel" required [disabled]="planoDeEnsino.conteudoProgramatico != null">
            <span class="help-block" *ngIf="conteudoProgramatico.invalid && conteudoProgramatico.dirty">Conteudo Programatico é obrigatória</span>
            </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(procedimentosDidaticos.invalid,procedimentosDidaticos.dirty)">
          <label for="inputProcedimentosDidaticos" class="col-sm-2 control-label">Procedimentos Didaticos</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.procedimentosDidaticos" rows="4" name="procedimentosDidaticos"
              class="form-control" id="inputProcedimentosDidaticos" #procedimentosDidaticos="ngModel" required [disabled]="planoDeEnsino.procedimentosDidaticos != null">
            <span class="help-block" *ngIf="procedimentosDidaticos.invalid && procedimentosDidaticos.dirty">Procedimentos Didaticos é obrigatória</span>
              </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(atividadeIntegrativa.invalid,atividadeIntegrativa.dirty)">
          <label for="inputAtividadeIntegrativa" class="col-sm-2 control-label">Atividade Integrativa</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.atividadeIntegrativa" name="atividadeIntegrativa" class="form-control"
              id="inputAtividadeIntegrativa" #atividadeIntegrativa="ngModel" required [disabled]="planoDeEnsino.atividadeIntegrativa != null">
            <span class="help-block" *ngIf="atividadeIntegrativa.invalid && atividadeIntegrativa.dirty">Atividade
              Integrativa é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(primeiraVA.invalid,primeiraVA.dirty)">
          <label for="inputPrimeiraVA" class="col-sm-2 control-label">Primeira VA</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.primeiraVA" name="primeiraVA" class="form-control" id="inputPrimeiraVA" #primeiraVA="ngModel" required [disabled]="planoDeEnsino.primeiraVA != null">
            <span class="help-block" *ngIf="primeiraVA.invalid && primeiraVA.dirty">Primeira VA é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(segundaVA.invalid,segundaVA.dirty)">
          <label for="inputSegundaVA" class="col-sm-2 control-label">Segunda VA</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.segundaVA" name="segundaVA" class="form-control" id="inputSegundaVA"
              #segundaVA="ngModel" required [disabled]="planoDeEnsino.segundaVA != null">
            <span class="help-block" *ngIf="segundaVA.invalid && segundaVA.dirty">Segunda VA é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(terceiraVA.invalid,terceiraVA.dirty)">
          <label for="inputTerceiraVA" class="col-sm-2 control-label">Terceira VA</label>
          <div class="col-sm-10">
            <input [(ngModel)]="planoDeEnsino.terceiraVA" name="terceiraVA" class="form-control" id="inputTerceiraVA" #terceiraVA="ngModel" required [disabled]="planoDeEnsino.terceiraVA != null">
            <span class="help-block" *ngIf="terceiraVA.invalid && terceiraVA.dirty">Terceira VA é obrigatória</span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(bibliografiaBasica.invalid,bibliografiaBasica.dirty)">
          <label for="inputCibliografiaBasica" class="col-sm-2 control-label">Bibliografia Basica</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.bibliografiaBasica" rows="5" name="bibliografiaBasica"
              class="form-control" id="inputBibliografiaBasica" #bibliografiaBasica="ngModel" required [disabled]="planoDeEnsino.bibliografiaBasica != null">
            <span class="help-block" *ngIf="bibliografiaBasica.invalid && bibliografiaBasica.dirty">Bibliografia Basica é obrigatória</span>
              </textarea>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(bibliografiaComplementar.invalid,bibliografiaComplementar.dirty)">
          <label for="inputBibliografiaComplementar" class="col-sm-2 control-label">Bibliografia Complementar</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="planoDeEnsino.bibliografiaComplementar" rows="5" name="bibliografiaComplementar"
              class="form-control" id="inputBibliografiaComplementar" #bibliografiaComplementar="ngModel" required
               [disabled]="planoDeEnsino.bibliografiaComplementar != null">
            <span class="help-block" *ngIf="bibliografiaComplementar.invalid && bibliografiaComplementar.dirty">Bibliografia Complementar é obrigatória</span>
              </textarea>
          </div>
        </div>

      </div>
      <div class="box-footer">
        <button [routerLink]="['/plano-de-ensino-list']" routerLinkActive="router-link-active"
          class="btn btn-danger pull-left">Cancelar</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right"
          routerLinkActive="router-link-active">Salvar</button>
      </div>
    </form>
  </div>
</div>