<div class="col-md-10" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Novo Usuário</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">

        <div [ngClass]="getFormGroupClass(nome.invalid,nome.dirty)">
          <label for="inputNome" class="col-sm-2 control-label">Nome</label>
          <div class="col-sm-10">
            <input type="text" autocomplete="off" [(ngModel)]="user.nome" name="nome" class="form-control" id="inputNome" #nome="ngModel"
              placeholder="Nome completo" nome>
            <span class="help-block" *ngIf="nome.invalid  && nome.dirty">Nome e obrigatorio </span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(matricula.invalid,matricula.dirty)">
          <label for="inputMatricula" class="col-sm-2 control-label">Matricula</label>
          <div class="col-sm-10">
            <input type="text" autocomplete="off" [(ngModel)]="user.matricula" name="matricula" class="form-control" id="inputMatricula" #matricula="ngModel"
              placeholder="Matricula" matricula>
            <span class="help-block" *ngIf="matricula.invalid  && matricula.dirty">Matricula e obrigatorio </span>
          </div>
        </div>

        <div [ngClass]="getFormGroupClass(email.invalid,email.dirty)">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" autocomplete="off" [(ngModel)]="user.email" name="email" class="form-control" id="inputEmail" #email="ngModel"
              placeholder="Email" email>
            <span class="help-block" *ngIf="email.invalid  && email.dirty">Email e obrigatorio </span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
          <label for="inputPassword" class="col-sm-2 control-label" *ngIf="id == undefined; else elseBlock">Senha</label>
          <ng-template #elseBlock>
            <label for="inputPassword" class="col-sm-2 control-label">Nova Senha</label>
          </ng-template>
          <div class="col-sm-10">
            <input type="password" autocomplete="off" [(ngModel)]="user.password" name="password" class="form-control" id="inputPassword"
              placeholder="Password" #password="ngModel" required>
            <span class="help-block" *ngIf="password.invalid && password.dirty">Senha e obrigatoria</span>
          </div>
        </div>
        <div [ngClass]="getFormGroupClass(profile.invalid,profile.dirty)">
          <label for="inputProfile" class="col-sm-2 control-label">Perfil</label>
          <div class="col-sm-10">
            <select [(ngModel)]="user.profile" class="form-control select2" name="profile" id="inputProfile" #profile="ngModel"
              style="width: 100%;" required>
              <option value="ROLE_DIRETOR">Diretor</option>
              <option value="ROLE_DOCENTE">Docente</option>
            </select>
            <span class="help-block" *ngIf="profile.invalid && profile.dirty">Perfil e obrigatorio</span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Salvar</button>
      </div>
    </form>
  </div>
</div>