<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Disciplinas</h3>
      </div>

      <div class="box-body">
        <table class="table table-bordered">
          <tr>
            <th>Nome da Disciplina</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
            <th style="width: 10px">&nbsp;</th>
          </tr>
          <tr *ngFor="let di of listDisciplina">
            <td>{{di.nome}}</td>
            <td>
              <button class="btn btn-primary" (click)="edit(di.id)">Editar</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="delete(di.id, di.nome)">Apagar</button>
            </td>
            <td><button class="btn btn-success" (click)="detail(di.id)">Detalhes</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>